body {
    background-color:maroon;
    color:White;
}

h1{
    font-family: roman, 'times new roman', times, serif;
    color: white;
}
h2{
   font-family: roman, 'times new roman', times, serif;
    color: white; 
}

.flex-body {
    text-align: left;
    padding-left:20px;
    display: block;
    position:static;
}

.flex-container {
  margin: 0;
    padding: 0;
    width: 10%;
    height: 100%; 
    display: inline-block;
    list-style-type: none;
    position: absolute;
    position: fixed;
    padding-bottom: 100%;
    border-right-style: solid;
    border-width: 3px;
    background-color: white;
}