body {
    background-color:maroon;
    color:White;
}

h1{
    font-family: roman, 'times new roman', times, serif;
    color: white;
}
h2{
   font-family: roman, 'times new roman', times, serif;
    color: white; 
}

.topnav{
  overflow: visible;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.flex-body {
    text-align: left;
    padding-left:20px;
    display: block;
    position:static;
}

.flex-container {
  margin: 0;
    padding: 0;
    width: 10%;
    height: 100%; 
    display: inline-block;
    list-style-type: none;
    position: absolute;
    position: fixed;
    padding-bottom: 100%;
    border-right-style: solid;
    border-width: 3px;
    background-color: white;
}