body {
    background-color:maroon;
    color:White;
}

h1{
    font-family: roman, 'times new roman', times, serif;
    color: white;
}
h2{
   font-family: roman, 'times new roman', times, serif;
    color: white; 
}